extends layouts/layout

append content

  #page-home
    #floating-logo
      .logo

    #calltoaction.section
      .container
        #hero
          #hero-logo
          #hero-subtitle พินปัญหา พินความเห็น พินตำแหน่ง พินที่ "iCare"
          #hero-slogan Transforming Passive to Active Student

          #hero-text เสนอแนะและรายงานปัญหา
          .spacing-small
          #hero-menu.row
            .col.s12.m6.offset-m3.l6.offset-l3
              a.btn.btn-large.btn-block.waves-effect.waves-light(href=site_url('/login'))
                i.icon.material-icons.large location_on
                | รายงานผ่านเว็บ
              .spacing-small
              a.btn.btn-large.btn-block.waves-effect.waves-light.messenger(href=app_config.service.chatbot, target='_blank')
                i.icon
                  img(src='/public/image/icon-messenger@2x.png')
                | คุยกับ Chatbot

    #trending-pin.section
      .center
        span แก้ไขแล้วล่าสุด
      .clearfix
        trending-pins
      .spacing

    #whatis.section
      .container
        .row
          .col.m6
            .title
              img.responsive-img(src=site_url('/public/image/logo-land@2x.png'))
            p iCare คือ เครื่องมือสำหรับการรายนงานข้อร้องเรียน หรือความคิดเห็น สำหรับนักศึกษา บุคลากร และบุคคลที่มีส่วนเกี่ยวข้องกับคณะวิศวกรรมศาสตร์ ผ่านช่องทาง
              | <a href='#{app_config.service.fb}'> Facebook Messenger </a>
              | และ
              | <a href='#{app_config.baseurl}'> Web App </a>
            p โดยผู้ใช้สามารถส่งรูปภาพ คำอธิบาย แฮชแท็ค และตำแหน่ง ของปัญหาหรือความคิดเห็นเข้าสู่ iCare ข้อมูลทั้งหมดที่ถูกรายงานผ่านระบบ จะส่งตรงไปสู่เจ้าหน้าที่ผู้รับผิดชอบ เพื่อดำเนินการต่อในทันที โดยมีการแจ้งเตือนสถานะการแก้ไขตลอดทั้งกระบวนการจนปัญหาถูกแก้ไขเสร็จสิ้น ทั้งนี้ ผู้ใช้สามารถใช้ iCare ในการเสนอความคิดเห็นและคำชมได้เช่นเดียวกัน
            p รายงานบน iCare เพื่อคณะของเราได้ตั้งแต่วันนี้ ทั้ง 2 ช่องทาง

            ul
              li
                a(href=app_config.service.fb) Facebook Messenger
              li
                a(href=app_config.baseurl) Web App

          .col.m6
            .fb-page(data-href=app_config.service.fb, data-tabs='timeline', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')

        .row
          .col.m6.offset-m3
            .spacing-large
            .center
              span สร้างสรรค์โดย
            ul.partner-list.clearfix
              li
                a(href='#')
                  img.responsive-img(src='/public/image/partner/chulaeng@2x.png')

append app_script
  script.
    riot.mount('trending-pins');