extends layouts/layout

append content

  #page-home
    #floating-logo
      .logo

    .container
      #hero
        #hero-logo
        #hero-subtitle พินปัญหา พินความเห็น พินตำแหน่ง พินที่ "iCare"
        #hero-slogan Transforming Passive to Active Student

        .row
          .col.s12.m6.offset-m3.l6.offset-l3
            a.btn.btn-large.btn-block.waves-effect.waves-light(href=site_url('/login')) รายงานปัญหากับ iCare
            .spacing-small
            a.btn.btn-large.btn-block.waves-effect.waves-light(href=app_config.service.chatbot, target='_blank') คุยกับ iCare
            .spacing-small
            a.btn.btn-large.btn-block.waves-effect.waves-light.white.blue-text(href='https://www.facebook.com/ChulaEngineering', target='_blank') Follow Us on Facebook

        .row
          .col.s12
            .fb-page(data-href='https://www.facebook.com/icare.chula.engineering', data-tabs='timeline', data-height='280', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')

    #trending-pin.clearfix
      .card-carousel
        for pin in trending_pins
          .card.disabled
            .card-image(style='background-image: url(' + pin.photo[0] + ');')
            .card-content
              .card-description
                .card-author
                  a(href='#!user/' + pin.author) @#{pin.author}
                .card-text #{pin.name}
                if pin.tag && pin.tag.length > 0
                  for tag in pin.tag
                    a.tag-item(href=('#!tag/' + tag)) #{tag}

              .card-stat
                .meta.meta-like.left เห็นด้วย #{pin.like_count} คน
              .card-meta
                .meta.meta-time.right= moment(pin.created_at).fromNow()
                .meta.meta-status.left(data-status=pin.status)= pin.status

