doctype html
html(zone='front')
  head
    block head
      link(rel='stylesheet', href=site_url('/public/css/main.css'))
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
      meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black')
      link(rel='apple-touch-icon', sizes='120x120', href=site_url('/public/image/favicon/apple-icon-120x120.png'))
      link(rel='apple-touch-icon', sizes='152x152', href=site_url('/public/image/favicon/apple-icon-152x152.png'))
      link(rel='icon', type='image/png' sizes='96x96', href=site_url('/public/image/favicon/android-icon-96x96.png'))
      link(rel='icon', type='image/png' sizes='192x192', href=site_url('/public/image/favicon/android-icon-192x192.png'))

      include ../components/seo

  body
    include ../components/tracking

    block body
      #app(data-page=page.route)

        block header
          include ../components/header

        main
          block content

        block footer
          include ../components/footer

      block script
        block dep_script
          if settings.site.protocol === 'https'
            script(src='https://maps-api-ssl.google.com/maps/api/js?callback=&key=' + settings.service.google.api_key)
          else
            script(src='http://maps.googleapis.com/maps/api/js?callback=&key=' + settings.service.google.api_key)
          script(src=asset_url('/public/js/dep.js'))
          script(src=asset_url('/public/js/materialize.js'))
          script(src=asset_url('/public/js/main.js'))
          script(src=asset_url('/public/js/tag.js'))

        block app_script
          script.
            // this application
            app = new App();
            app.config(_.assign(!{JSON.stringify(app_config)}), {});
            app.start();
